/* estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
.sansita-regular {
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansita-bold {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansita-extrabold {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sansita-black {
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sansita-regular-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansita-bold-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sansita-extrabold-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.sansita-black-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: italic;
}


}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

 .meu-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(26, 152, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: rgb(13, 47, 119);
    font-size: 38px;
    text-align: center;
    margin-bottom: 40px;
}


/*estilo do cabeçario*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a{
    color: rgb(88, 88, 88);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: white;
    transform: scale(1.1);
}



header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

 .meu-contato button:hover{
    box-shadow: 0px 0px 8px blueviolet;
transform: scale(1.05);
}

/* estio do topo do site */
section .topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site .flex{
align-items: center;
justify-content: center;
gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 38px;
line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
position: relative;
animation: bombastico 2s ease-in-out infinite alternate;


}



@keyframes bombastico{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/* estilos para as habilidades */
section.habilidades{
    padding: 40px 4%;
}

section.habilidades .flex{
    justify-content: space-between;
    gap: 60px;
}


.habilidades .habilidades-box{
    color: white;
   padding: 40px;
    border-radius: 20px;
   border: 2px solid rgb(26, 152, 255);
margin-top: 40px;
transition: .2s;
}

.habilidades .habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(137, 43, 226, 0.493);
}

.habilidades .habilidades-box i{
    font-size: 70px;
    color:white;
}
.habilidades .habilidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}